#logo {
    width: 125px;
    height: 500px;
    background: url("https://mb-otago.github.io/Event-Results/resources/mbo-logo-small.png") left top no-repeat;
    overflow: hidden;
    display: block;
}