#logo {
    width: 179px;
    height: 131px;
    background: url("https://mb-otago.github.io/Event-Results/resources/mbo-logo-small.png") center top no-repeat;
    overflow: hidden;
    display: block;
}